<h1>Welcome to Scrabble Score!</h1>
<form action="/score">
  <div class="form-group">
    <label for="scrabble_word">Please enter a word to calculate scrabble score:
    </label>
    <input id="scrabble_word" name="scrabble_word" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">Send</button>
</form>
